/* Col
---------------------------------------------------------------------*/

/*doc
## Col

Нужна для реализации колонок. Имеет несколько модификаторов размеров.
Между элементами `.Cols--ib .Col` не должно быть пробелов.

Ячейкам `.Cols--ib .Col` и `.Cols--t.Cols--fixed .Col` удобно задавать размеры в процентах; в отличие от ячеек `.Cols--t .Col`, они будут фиксированных размеров вне зависимости от ширины содержимого. Ломают длинные беспробельные слова.

```html
<div class="Form Form__set accent">
	<div class="Cols Cols--ib">
		<div class="Col w-75p">
			<div class="Form__field inputFull">
				<span class="Form__title"><label class="Form__label" for="a">Вакантная должность:</label></span><input type="text" class="Form__input" id="a" value=""/>
			</div>
		</div><div class="Col w-25p">
			<div class="Form__field inputFull">
				<span class="Form__title"><label class="Form__label" for="b">Количество мест:</label></span><input type="text" class="Form__input" id="b" value=""/>
			</div>
		</div>
	</div>
</div>


<a class="Cols Cols--t">
	<span class="Col name">Имя</span>
	<span class="Col age">Возраст</span>
	<span class="Col weight">Вес</span>
</a>
```
*/

.Cols {
	List();
	box-sizing: border-box;
	width: 100%;
}

.Col {
	List__item();
}

.Cols--ib {
	word-wrap: break-word;

	.Col {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
	}
}

.Cols--t {
	display: table;
	
	.Col__row { display: table-row; }
	.Col { display: table-cell; }

	&.Cols--fixed {
		word-wrap: break-word;
	}
}

.Cols--fixed {
	table-layout: fixed;
}

.Cols--1 {
	.Col { width: 100%; }
}
.Cols--2 {
	.Col { width: 50%; }
}
.Cols--3 {
	.Col { width: 33.3333%; }
}
.Cols--4 {
	.Col { width: 25%; }
}
.Cols--5 {
	.Col { width: 20%; }
}
.Cols--6 {
	.Col { width: 16.6667%; }
}


Cols(mods = '') {
	@extend .Cols;
	if (match('ib', mods)) {
		@extend .Cols--ib;
	}
	if (match('t', mods)) {
		@extend .Cols--t;
	}
	if (match('fixed', mods)) {
		@extend .Cols--fixed;
	}
	if (match('t', mods) && match('fixed', mods)) {
		@extend .Cols--t.Cols--fixed;
	}
}

Col(mods = '') {
	@extend .Col;
	if (match('ib', mods)) {
		@extend .Cols--ib .Col;
	}
	if (match('t', mods)) {
		@extend .Cols--t .Col;
	}
}
