/* BLOCKS - LINKS
---------------------------------------------------------------------*/

a,
.pseudoLink {
	color: $linkColor;
	
	&:hover {
		color: $linkHoverColor;
	}
}

.pseudoLink {
	border-bottom: .1em dotted;
	cursor: pointer;
}
