/* BLOCKS - LINKS
---------------------------------------------------------------------*/

$linkColor = $linkColor is defined ? $linkColor : #36f;
$linkHoverColor = $linkHoverColor is defined ? $linkHoverColor : #c33;

a,
.pseudoLink {
	color: $linkColor;
	
	&:hover {
		color: $linkHoverColor;
	}
}

.pseudoLink {
	border-bottom: .1em dotted;
	cursor: pointer;
}
