/* Menu
---------------------------------------------------------------------------*/

/*
<ul class="Menu Menu--horiz MenuTab" data-tab--name="test">
	<li class="Menu__item" data-tab--for="0">
		<a href="" class="Menu__label">Пункт 1</a>
	</li><li class="Menu__item" data-tab--for="1">
		<a href="" class="Menu__label">Пункт 2</a>
	</li>
</ul>
<div class="MenuTab__wrapper" data-tab--name="test">
	<div class="MenuTab__content" data-tab--id="0">a</div>
	<div class="MenuTab__content" data-tab--id="1">b</div>
</div>


$(document).on('click', '.MenuTab .Menu__item', function (e) {
	e.preventDefault();

	var obj = $(this);
	var content = $('.MenuTab__wrapper[data-tab--name="'+ obj.parents('.MenuTab').attr('data-tab--name') +'"]').eq(0);

	if (obj.hasClass('active')) { return false }

	if (content.length) {
		var target = content.find('[data-tab--id="'+ obj.attr('data-tab--for') +'"]');

		content.animate({'height': target.height()}, 300, function () {
			content.css('height','');
		});
		obj.addClass('active').siblings('.Menu__item').removeClass('active');
		target.show().siblings('.MenuTab__content').hide();
	};
})
*/

.Menu {
	List();
	user-select: none;
	
	&__item,
	&__label {
		box-sizing: border-box;
	}

	&__item {
		List__item();
	}

	&__label {
		cursor: pointer;
		display: inline-block;
		text-decoration: none;
	}

	&__item.active &__label {
		cursor: default;
	}
}

.Menu--horiz {
	.Menu__item,
	.Menu__label{
		display: inline-block;
		vertical-align: baseline;
	}
}


.MenuTab {
	&__content {
		display: block;
		
		& + & {
			display: none;
		}
	}
}


Menu(mods = '') {
	@extend .Menu;
	if (match('horiz', mods)) {
		@extend .Menu--horiz;
	}
}
Menu__item(mods = '') {
	@extend .Menu;
	if (match('horiz', mods)) {
		@extend .Menu--horiz .Menu__item;
	}
}
