/* BLOCKS - TABLES
---------------------------------------------------------------------*/

/*doc

## Таблицы

### .PseudoTable

Таблица, реализованная с помощью цсс. Может применяться для правильного выравнивания элементов по разные стороны контейнера, например

```html
<div class="PseudoTable w-full">
	<div class="PseudoTable__cell">
		<a href="#" class="btn Btn--default btnGreen">Создать акцию</a>
	</div>
	<div class="PseudoTable__cell t-a-r">
		<a href="#" class="t-d-n"><i class="icon sort"></i>Изменить порядок отображения</a>
	</div>
</div>
```

Так же реализуется картинка с подписью (для анонсов)

<div class="PseudoTable">
	<div class="PseudoTable__cell">
		<img src="http://placedog.com/35/35" style="margin-right: 1em;">
	</div>
	<div class="PseudoTable__cell">
		Няшная картинка клёвой собаченьки
	</div>
</div>
*/

.PseudoTable,
.PseudoTable__row,
.PseudoTable__cell {
	box-sizing: border-box;
}
.PseudoTable {
	display: table;
}
.PseudoTable__row {
	display: table-row;
}
.PseudoTable__cell {
	display: table-cell;
	vertical-align: middle;
}



/* Col
---------------------------------------------------------------------*/

/*doc
## Col

Нужна для реализации колонок. Имеет несколько модификаторов размеров.
Между элементами `.Cols--ib .Col` не должно быть пробелов.

Ячейкам `.Cols--ib .Col` и `.Cols--t.Cols--fixed .Col` удобно задавать размеры в процентах; в отличие от ячеек `.Cols--t .Col`, они будут фиксированных размеров вне зависимости от ширины содержимого. Ломают длинные беспробельные слова.

```html
<div class="Form Form__set accent">
  <div class="Cols Cols--ib">
    <div class="Col w-75p">
      <div class="Form__field inputFull">
        <span class="Form__title"><label class="Form__label" for="a">Вакантная должность:</label></span><input type="text" class="Form__input" id="a" value=""/>
      </div>
    </div><div class="Col w-25p">
      <div class="Form__field inputFull">
        <span class="Form__title"><label class="Form__label" for="b">Количество мест:</label></span><input type="text" class="Form__input" id="b" value=""/>
      </div>
    </div>
  </div>
</div>


<a class="Cols Cols--t">
  <span class="Col name">Имя</span>
  <span class="Col age">Возраст</span>
  <span class="Col weight">Вес</span>
</a>
```
*/

.Cols { width: 100%; }

.Cols--ib,
.Cols--fixed {
  word-wrap: break-word;
}

.Cols--ib .Col {
	box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.Cols--t { display: table; }
.Cols--t .Col__row { display: table-row; }
.Cols--t .Col { display: table-cell; }

.Cols--fixed { table-layout: fixed; }

.Cols--1 .Col { width: 100%; }
.Cols--2 .Col { width: 50%; }
.Cols--3 .Col { width: 33.3333%; }
.Cols--4 .Col { width: 25%; }
.Cols--5 .Col { width: 20%; }
.Cols--6 .Col { width: 16.6667%; }
