/* BLOCKS - TABLES
---------------------------------------------------------------------*/

/*doc

## Таблицы

### .PseudoTable

Таблица, реализованная с помощью цсс. Может применяться для правильного выравнивания элементов по разные стороны контейнера, например

```html
<div class="PseudoTable w-full">
	<div class="PseudoTable__cell">
		<a href="#" class="btn Btn--default btnGreen">Создать акцию</a>
	</div>
	<div class="PseudoTable__cell t-a-r">
		<a href="#" class="t-d-n"><i class="icon sort"></i>Изменить порядок отображения</a>
	</div>
</div>
```

Так же реализуется картинка с подписью (для анонсов)

<div class="PseudoTable">
	<div class="PseudoTable__cell">
		<img src="http://placedog.com/35/35" style="margin-right: 1em;">
	</div>
	<div class="PseudoTable__cell">
		Няшная картинка клёвой собаченьки
	</div>
</div>
*/

.PseudoTable,
.PseudoTable__row,
.PseudoTable__cell {
	box-sizing: border-box;
}
.PseudoTable {
	display: table;
}
.PseudoTable__row {
	display: table-row;
}
.PseudoTable__cell {
	display: table-cell;
	vertical-align: middle;
}
