/* PAGE
---------------------------------------------------------------------*/

.Page {
	font-size: $fontSize;
	font-family: $fontFamily;
}

.Page__wrapper {
	margin: 0 auto;
	min-width: $wrapperMinWidth;
	max-width: $wrapperMaxWidth;
	padding: 0 $wrapperPaddingX;
}
