////
// Абстрактные блоки
////

@require $libBlockA +'effect';
@require $libBlockA +'spinner';
@require $libBlockA +'ruble';
@require $libBlockA +'typo';
@require $libBlockA +'embed';
@require $libBlockA +'link';
@require $libBlockA +'button';
@require $libBlockA +'table';
@require $libBlockA +'list';
@require $libBlockA +'tab';
@require $libBlockA +'form';

@require 'blocks/a/btn';
