////
// Контекстные блоки
////

@require $libBlockC +'advice';
@require $libBlockC +'badge';
@require $libBlockC +'breadcrumb';
@require $libBlockC +'bubble';
@require $libBlockC +'overlay';
@require $libBlockC +'paginator';
@require $libBlockC +'progress';
@require $libBlockC +'tip';

@require 'blocks/c/page';
@require 'blocks/c/header';
@require 'blocks/c/footer';
