////
// Настройки
////

$fontSize = 1.3em;
$fontFamily = 'Trebuchet MS', arial, helvetica, sans-serif;

$dividerColor = #ccc;

$imgPath = '/assets/img/';

$wrapperMinWidth = 920px;
$wrapperMaxWidth = 1180px;

// переменные для медиавыражений
$mediaAliases = {
	palm:       '(max-width: 480px)'
	lap:        '(min-width: 481px) and (max-width: 1023px)'
	lap-and-up: '(min-width: 481px)'
	portable:   '(max-width: 1023px)'
	desk:       '(min-width: 1024px)'
	desk-wide:  '(min-width: 1200px)'
}

// класс для браузеров, не поддерживающих нестандартные шрифты
$noFace = '.has-notFontFace';
